fastapi
uvicorn[standard]
sqlalchemy
mysql-connector-python
pydantic[email]
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
slowapi
Pillow
countryinfo
geonamescache

# bcrypt yerine argon2 kullanıyoruz. passlib hala gerekli.
passlib
argon2-cffi